* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 300px;
  margin: 3rem auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-image: url("Screenshot_20260202_194202.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: rgb(231, 172, 22);
}

.container p {
  margin-top: 1.5rem;
  font-style: italic;
  font-weight: 700;
}

.container ul li {
  font-weight: 600;
  list-style: none;
  margin-block: 1.5rem;
}

.btn-1 {
  padding: 5px 20px;
  background-color: rgb(231, 172, 22);
  color: white;
  border: none;
  border-radius: 2px;
  margin-bottom: 14px;
}

.btn-2 {
  padding: 5px 27px;
  background-color: rgb(231, 172, 22);
  color: white;
  border: none;
  border-radius: 2px;
}
