.div__cont {
  max-width: 300px;
  margin: 0 auto;
  font-family: sans-serif;
}

.btn {
  border: 2px solid black;
  padding: 6px 24px;
  background-color: #f5f4f4;
  color: black;
  border-radius: 18px;
  margin-top: 1.5rem;
}

label {
  display: block;
  margin-block: 5px;
}

input {
  padding: 6px;
  width: 85%;
  align-items: center;
  background-color: #4ab0becb;
  border: none;
}
